

<header>
    报名
    <div class="header-right">
        <button id="startEnd" class="btn-style btn-4" ng-click="start_end()">{{startEnd}}</button>
    </div>
    <div class="header-left">
        <a href="#/activityList" class="side-slide-trigger btn-style btn-4">返回</a>
    </div>
</header>



<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="user-manage.html"><br /><h4>报名</h4></a></li>
        <li><a href="user-group.html"><br /><h4>竞价</h4></a></li>
    </ul>
</footer>