
<header>
    创建活动

    <div class="header-left" id="turnBack">
        <a href="#/activityList" class="side-slide-trigger btn-style btn-4">返回</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">


            <h4 align="center">活动名称</h4>
            <p align="center"><input type="text" ng-model="actName" ng-click="actNameOnfocus()"></p>
            <div align="center" id="message">
                <font color="red"><p>{{message}}</p></font>
            </div>

        <p align="center"> <button class="btn-style btn-3" ng-click="createAct()">创建活动</button></p>


</div>

