
<header>
    创建活动

    <div class="header-left">
        <a href="#/activityList" class="side-slide-trigger btn-style btn-4">{{back}}</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <div class="wrapper-inner">
        <div class="form-wrapper">

            <h4 align="center">活动名称</h4>
            <p align="center"><input type="text" ng-model="actName"><br><font color="red">{{message}}</font></p>

        <p align="center"> <button class="btn-style btn-3" ng-click="createAct()">创建活动</button></p>

        </div>
    </div>

</div>

