
<header>
    {{activityName}}&nbsp;&nbsp;竞价列表{{signUpNum}}
    <div class="header-right">
        <button class="btn btn-4"ng-disabled="able" ng-click="createBid()">创建竞价</button>
    </div>
    <div class="header-left">
        <a href="#/activityList" class="side-slide-trigger btn-style btn-4">返回</a>
    </div>
</header>


<div  class="wrapper scrollable">
    <div class="form-wrapper" ng-repeat="bid in bids">
        <a ng-class="{true:'btn btn-one',false:'btn btn-one-f'}[bid.status == 'price']" ng-click="bidInfo(bid)">{{bid.name}}</a>
    </div>
</div>


<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="user-manage.html"><br /><h4>报名</h4></a></li>
        <li><a href="user-group.html"><br /><h4>竞价</h4></a></li>
    </ul>
</footer>