
<header>
    {{activityName}}&nbsp;&nbsp;{{bidName}}&nbsp;&nbsp;竞价{{signUpNum}}
    <div class="header-right" ng-switch="start_end">
        <button class="btn btn-4" ng-switch-when="end" ng-click="priceEnd()">结束</button>
        <button class="btn btn-4" ng-switch-default="start" ng-disabled="start_able" ng-click="priceStart()">开始</button>
    </div>
    <div class="header-left">
        <a class="btn btn-4" ng-click="back()">返回</a>
    </div>
</header>


<div id="showBidUsers" class="wrapper scrollable">
    <div class="form-wrapper" ng-repeat="bidUser in bidUsers">
        <a class="btn-style btn-3">{{bidUser.priceNum}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bidUser.name}}<i class="icon-angle-right">{{bidUser.phone}}</i></a>
    </div>
</div>

